@font-face {
  font-family: 'iconfont';  /* Project id 4514721 */
  src: url('//at.alicdn.com/t/c/font_4514721_jxg4jk7hk3.woff2?t=1721977916099') format('woff2'),
       url('//at.alicdn.com/t/c/font_4514721_jxg4jk7hk3.woff?t=1721977916099') format('woff'),
       url('//at.alicdn.com/t/c/font_4514721_jxg4jk7hk3.ttf?t=1721977916099') format('truetype'),
       url('//at.alicdn.com/t/c/font_4514721_jxg4jk7hk3.svg?t=1721977916099#iconfont') format('svg');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanzhengma:before {
  content: "\e660";
}

.icon-shoujihao:before {
  content: "\e60f";
}

.icon-gouwu:before {
  content: "\e899";
}

.icon-fukuan:before {
  content: "\e62d";
}

.icon-suo:before {
  content: "\e63e";
}

.icon-tuxingyanzhengma:before {
  content: "\e799";
}

.icon-fenxiang-post:before {
  content: "\e7c5";
}

.icon-download-post:before {
  content: "\e63f";
}

.icon-gift:before {
  content: "\e682";
}

